<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <meta property="og:title" content="Fortune App">
    <meta name="twitter:title" content="Fortune App">
    <meta name="author" content="Jeronimo Martinez Sanchez">
    <meta property="og:image" content="https://rz0r.net/img/22042.jpg">
    <meta name="twitter:image" content="https://rz0r.net/img/22042.jpg">
    <meta name="twitter:card" content="{{ fortune }}">
    <meta name="twitter:site" content="@rz0r">
    <meta name="twitter:creator" content="@rz0r">
    <meta property="og:url" content="https://rz0r.net/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Fortune App">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        pre {
            border: none;
        }
    </style>

    <title>Fortune</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="column">
            <h3>Fortune</h3>
            <pre>
            {{ fortune }}
            </pre>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a href="https://github.com/jms/glowing-memory" target="_blank">Github Repo</a>
        </div>
    </div>
</div>
</body>

</html>